/* line 5, ../../assets/scss/styles.scss */
body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

/* line 10, ../../assets/scss/styles.scss */
a {
  text-decoration: none;
}

/* line 14, ../../assets/scss/styles.scss */
nav {
  background-color: #0f0f0f;
}
